body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  background: white;
  padding: 30px 50px 30px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;

}

h2 {
  margin-bottom: 20px;
  color: #5e35b1; /* Violet color */
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #7c4dff; /* Violet color */
  font-size: 0.9rem;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #5e35b1; /* Violet color */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.login-btn:hover {
  background-color: #4527a0; /* Darker violet */
}

.signup-text {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #666;
}

.signup-text a {
  color: #5e35b1; /* Violet color */
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}